target/
.vscode/
.idea/
*.class
*.jar
*.war
*.ear
*.log
.settings/
.project
.classpath
*.pem
.terraform/
infra/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
